.square {
  &--top {
    &-right {
      position: absolute;
      right: 0;
      top: 0;
      width: 2px;
      height: 2px;
      background-color: #ffffff;
    }
    &-left {
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: 2px;
      background-color: #ffffff;
    }
  }
  &--bottom {
    &-right {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 2px;
      height: 2px;
      background-color: #ffffff;
    }
    &-left {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 2px;
      height: 2px;
      background-color: #ffffff;
    }
  }
}
