.onsale {
  flex-grow: 6;

  &__table {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 15px;
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 0 13px;

    &__header {
      display: table-row;
      color: #ffffff;
      border: 1px solid rgba($color: #fff, $alpha: 0.1);
      height: 33px;
      background: rgba($color: #fff, $alpha: 0.05);
      font-style: normal;
      font-weight: normal;
      width: 90%;
      &-item {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }
    }
    &__body {
      display: table-row;
      height: 40px;
      &:nth-child(even) {
        background: rgba($color: #ffffff, $alpha: 0.1);
      }
      &:nth-child(odd) {
        background: rgba($color: #ffffff, $alpha: 0.05);
      }
    }
  }
}
