.cart {
  position: relative;
  cursor: pointer;
  &__count {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    position: absolute;
    top: -8px;
    right: -4px;
    width: 10px;
    height: 20px;
    background: #0b0c23;
    display: flex;
    justify-content: center;
  }
}
