.table-item {
  color: #c4c4c4;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  &__rel {
    display: flex;
    justify-content: space-evenly;
  }
}
