.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  &__icons {
    display: flex;
    padding-bottom: 25px;
  }
  &__icon {
    cursor: pointer;
    position: relative;
    width: 33px;
    height: 33px;
    background: rgba($color: #fff, $alpha: 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
  }
}
