.filter {
  flex-grow: 1;
  &__field {
    width: 215px;
    height: 33px;
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 11px;
    margin-top: 14px;
    cursor: pointer;

    &__description {
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 48px;
    }
  }
}
